html,
body {
  height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.hero {
  min-height: 70vh;
}

/* [TODO] carscading 고려해서 다시 작성하기 */
.table > :not(:first-child) {
  border-top: inherit !important;
}

footer {
  text-align: center;
  color: grey;
  font-size: 0.875em;
}

footer p {
  margin: 0;
}
