/* layout */
html,
body {
  height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.hero {
  min-height: 70vh;
}

footer {
  text-align: center;
  color: grey;
  font-size: 0.875em;
}

footer p {
  margin: 0;
}

/* component*/
button:focus {
  box-shadow: none !important;
}

/* modal */
.modal-opener:hover {
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

/* [TODO] carscading 고려해서 다시 작성하기 */
.table > :not(:first-child) {
  border-top: inherit !important;
}

textarea {
  height: 240px;
}
