- var API_VERSION = "v1"
- var year = "2022"

//- Site info
- var siteTitle = "Lyrink"
- var siteSummary = "자유롭고 구체적인 음악 감상 공유를 위한 공간"

//- modal
- var writeModal = { type: "write", title: "", body: "감상을 작성하시겠습니까?", confirm: "작성", close: "취소" }
- var deteleModal = { type: "delete", title: "", body: "감상을 삭제하시겠습니까?", confirm: "삭제", close: "취소" }
- var editModal = { type: "edit", title: "", body: "감상을 수정하시겠습니까?", confirm: "수정", close: "취소" }
